body{
    background-image: url(../images/1.jpg);
}

#div1{
    background-image: url(../images/2.jpg);
    width: 350px;
    height: 300px;
    margin: 20px;
}

#div2{
    background-image: url(../images/3.jpg);
    width: 350px;
    height: 300px;
    margin: 20px;
}

#div3{
    background-image: url(../images/4.jpg);
    width: 350px;
    height: 300px;
    margin: 20px;
}