#div1{
    color: black;
    height: 200px;
    width: 250px;
    background-color: #BF98F6;
}

#div2{
    color: white;
    font-family: "Bold Italic Art";
    height: 200px;
    width: 250px;
    background-color: #422967;
}

#div3{
    color: white;
    font-family: "Bold Italic Art";
    height: 200px;
    width: 250px;
    background-color: #BEB6CB;
}